.background-image{
  background:url(assets/pizza.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.pizza-gif{
  background:url(assets/cheese-pull-half.gif);
  background-repeat: no-repeat;
  background-size: cover;
  width: 700px; 
  height: 400px;
  border-radius: 5%;

}